<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node&Mongo - 게시글 수정</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include("nav.ejs") %>
    <!-- "?_method=PUT"을 붙여 PUT요청으로 변경 (method override 라이브러리) -->
    <form class="form-box" action="/edit?_method=PUT" method="POST">
      <h4>글 수정하기</h4>
      <input name="id" value="<%= post._id %>" hidden />
      <input name="title" placeholder="제목" value="<%= post.title %>" />
      <input name="content" placeholder="내용" value="<%= post.content %>" />
      <button type="submit">완료</button>
    </form>
  </body>
</html>
