<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node&Mongo - 회원가입</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include("nav.ejs") %>
    <form class="form-box" action="/register" method="POST">
      <h4>회원가입</h4>
      <input name="username" placeholder="아이디" />
      <input name="password" placeholder="비밀번호" type="password" />
      <input name="check" placeholder="비밀번호 확인" type="password" />
      <button type="submit">완료</button>
    </form>
  </body>
</html>
