<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node&Mongo - 글작성</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include("nav.ejs") %>
    <!-- "/newpost" URL로 POST요청 전송 -->
    <form class="form-box" action="/newpost" method="POST">
      <h4>글쓰기</h4>
      <!-- input태그에 name속성 작성해줘야 서버로 전송됨 -->
      <input name="title" placeholder="제목" />
      <input name="content" placeholder="내용" />
      <button type="submit">완료</button>
    </form>
  </body>
</html>
