body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  padding: 15px;
  align-items: center;
  background: #eee;
}

.nav a {
  margin-right: 20px;
}

.logo {
  font-weight: bold;
}

.grey-bg {
  background: #eee;
}

.white-bg {
  background: white;
  margin: 20px;
  border-radius: 5px;
}

.list-box {
  padding: 10px;
  border-bottom: 1px solid#eee;
}

.list-box h4 {
  font-size: 16px;
  margin: 5px;
}

.list-box p {
  font-size: 13px;
  margin: 5px;
  color: grey;
}

input,
div {
  box-sizing: border-box;
}

.form-box {
  background: white;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
}

.form-box input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.form-box button {
  padding: 10px;
  border: none;
  background: lightgrey;
  border-radius: 5px;
  cursor: pointer;
}

.detail-bg {
  background: white;
  padding: 15px;
  margin-top: 10px;
}

.detail-bg h5 span {
  font-size: 16px;
}

.detail-bg h4 {
  font-size: 18px;
}

.detail-bg p {
  margin-bottom: 40px;
}

.header-text {
  padding-left: 20px;
}

.page-bar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-btn {
  padding: 10px;
  border: none;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.btn-group {
  display: flex;
  flex-direction: row;
}

.index-box {
  width: 20px;
  height: 20px;
  display: block;
}

.index-text {
  font-size: 14px;
  font-weight: 400;
}

.index-text.bold {
  font-weight: 600;
}

.search-box {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-input {
  padding: 7px;
  margin-right: 8px;
  border: none;
  flex-grow: 1;
}

.search-btn {
  padding: 6px 10px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
}
